@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Ruda:wght@300;400;500;600;700&display=swap');

/* styles */
* {
  margin: 0;
  font-family: "Ruda";
  color: #022e57;
  background: #FFF5FD;
}
body, html {
  margin:0;
  padding:0;
  line-height: 1.5em;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  background-color: transparent;
}
.root {
  height: inherit;
}
.app {
  height: 100%;
}
.content {
  margin: 40px auto;
  height: 100%;
  padding: 5px;
}
.content p {
  margin: 10px;
}
.content a {
  margin: 10px;
}
.bubble {
  margin: 0;
  padding-top: calc(15rem + 55px);
  padding-bottom: 15rem;
  position: relative;
  background-image: url('bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}
.navbar {
  padding: 20px 290px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #022e57;
  text-transform: uppercase;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #005A8D;
}
.footer {
  padding: 20px;
  display: flex;
  justify-content:center;
  align-items:center;
  margin: 0 auto;
  border-top: 1px solid #f2f2f2;
  display:flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
}
